<div class="body-container">
  <div class="row">
    <div class="col-md-12">
      <center><h1><%= t ".about" %></h1></center>
    </div>
  </div>
  <div class="col-md-6">
    <center>
      <img src="/assets/quan.jpg" width="170px" height="170px" class="img-circle" alt="hoanganhquan">
      <br>
      <h4 class="footertext">Hoang Anh Quan</h4>
      <p class="footertext">
      <br>
    </center>
  </div>
  <div class="col-md-6">
    <center>
      <img src="/assets/phong.jpg" width="170px" height="170px" class="img-circle" alt="hoanganhquan">
      <br>
      <h4 class="footertext">Truong Van Phong</h4>
      <p class="footertext">
      <br>
    </center>
  </div>
</div>
