<div class="body-container">
  <div class="row">
    <br>
    <div class="col-md-4">
      <h1 class="title"><%= t ".contact" %></h1>
      <h2 class="subtitle"><%= t ".assist" %></h2>
    </div>
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.601627517693!2d105.7818972!3d21.0166589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56c7da1281efdc2f!2sHandico+Tower!5e0!3m2!1svi!2s!4v1546491669632" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
