<div class="body-container">
  <div class="col-md-4">
    <center>
      <br>
      <h1><%= t ".join" %></h1>
      <%= link_to t(".signup"), "#", class: "btn btn-lg btn-primary" %>
    </center>
  </div>
  <div class="col-md-8">
    <br>
    <center>
      <img src="/assets/bg_vision.jpg" width="700px" height="450px"></center>
  </div>
</div>
