<h1><%= t ".chatroom" %></h1>
<table>
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="chatroom">
    <%= render @chatrooms %>
  </tbody>
</table>
<br>
