<% provide :button_text, t(".create") %>
<% provide :action_path, chatrooms_path %>
<div class="col-md-6 create-chat-form">
  <div class="row text-center">
    <h2 class="text-title"><%= t ".create_chatroom" %></h2>
  </div>
  <%= render "form" %>
</div>
