<% provide :button_text, t(".save_text") %>
<% provide :action_path, user_path %>
<div class="col-md-5 bound-back">
  <div class="row text-center">
    <h2 class="text-title"><%= t ".edit_text" %></h2>
  </div>
  <%= render "form" %>
</div>
