$back_login: #252525;
$light_gray: #eaeaea;
$light_black: #292b2c;
$white: #FFFFFF;
$whitesmoke: #F5F5F5;
$darkslategrey: darkslategrey;
$red: red;
$gray: gray;
$black: black;
$yellow: yellow;
$violet: #5a7391;
$orange: orange;
$bdfill: #dedede;
$app_shadow_1: rgba(0, 0, 0, .06);
$app_shadow_2: rgba(0, 0, 0, .2);
$heading_back: #eee;
$icon_mess: #00bfa5;
$mess_hover: #f2f2f2;
$sidebar_back: #fff;
$border: #f7f7f7;
$conversation_bor: rgba(0, 0, 0, .08);
$time_color: #9a9a9a;
$sender_back: #dcf8c6;
$reply_back: #f5f1ee;
$reply-emojis: #93918f;
